.edit-password-section {
  background-color: rgb(20, 28, 45);
  border-radius: 10px;
  width: 78%;
  height: auto;
  padding-bottom: 1rem;
  /* transform: translateY(2rem); */
  margin-left: 11%;
  position: fixed;
  top: 15%;

  transition: all 0.3s ease-in-out;
  z-index: 2;
}

@media (max-width: 640px) {
  .edit-password-section {
    width: 95%;
    margin-left: 2%;
  }
}

.password-head {
  display: flex;
  align-items: center;
}

.password-intro {
  display: flex;
  width: 96%;
  margin: 1rem auto;
  align-items: center;
  justify-content: space-between;
}

.password-word {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.password-form {
  width: 90%;
  margin: 2rem auto;
}

.password-input {
  width: 90%;
  height: 2.5rem;
  border-radius: 7px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.295);
  margin-top: 0.61rem;
  padding-left: 1rem;
  color: rgb(216, 214, 214);
  font-size: 1rem;
}

.password-label {
  margin-top: 1rem;
  color: rgb(189, 188, 188);
  margin-top: 0.4rem;
}

.password-form-div {
  margin-top: 1rem;
}

.password-button {
  float: right;
  margin-top: 1rem;
  height: 2.5rem;
  width: 9rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #9857ff;
  color: white;
  cursor: pointer;
}

.password-input::placeholder {
  font-family: cursive;
}
@media (max-width: 700px) {
  .password-button {
    width: 7rem;
    font-size: 0.7rem;
    height: 2rem;
  }
}

@media (max-width: 400px) {
  .password-button {
    width: 7rem;
    font-size: 0.7rem;
    height: 1.5rem;
  }

  .fsz {
    font-size: 0.8rem;
  }
  .fsz-2 {
    font-size: 0.6rem;
  }
  .password-label {
    font-size: 0.7rem;
  }

  .password-input::placeholder {
    font-size: 0.8rem;
  }
  .password-input {
    height: 2rem;
  }
}
